.album-card {
    color: #FAFAFA;
    width: 200px;
    height: 200px;
    background: #FAFAFA;
    margin: 15px;
    font-size: 18px;
}

.album-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.album-container:hover {
    background: rgba(0,0,0,0.5);
}

.album-container > h3, .album-container > h4 {
    color: #FAFAFA;
    margin: 0;
    max-width: 200px;
    text-align: center;
}

.album-container > h3 {
    font-size: 16px;
    font-weight: bold;
}

.album-container > h4 {
    font-size: 14px;
    margin-top: 8px;
    color: #999999;
}